@font-face {
  font-family: "iconfont"; /* Project id 5045243 */
  src: url('iconfont.woff2?t=1762349279107') format('woff2'),
       url('iconfont.woff?t=1762349279107') format('woff'),
       url('iconfont.ttf?t=1762349279107') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon_empty:before {
  content: "\e64f";
}

.icon-hot:before {
  content: "\e60f";
}

.icon-play:before {
  content: "\e6f2";
}

.icon-UPzhu:before {
  content: "\e666";
}

.icon-icon-left:before {
  content: "\e60b";
}

.icon-icon-right:before {
  content: "\e60c";
}

.icon-shouqi:before {
  content: "\e68d";
}

.icon-more:before {
  content: "\e61b";
}

.icon-dongtai:before {
  content: "\e621";
}

.icon-bianpinghuatubiaosheji-:before {
  content: "\e62b";
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofang:before {
  content: "\e6ee";
}

.icon-hd:before {
  content: "\ea02";
}

.icon-user:before {
  content: "\e605";
}

.icon-yanzhengyanzhengma:before {
  content: "\e624";
}

.icon-mima:before {
  content: "\e8b2";
}

.icon-sousuo:before {
  content: "\e602";
}

.icon-24px:before {
  content: "\e604";
}

.icon-shoucang:before {
  content: "\e661";
}

.icon-lishi:before {
  content: "\e603";
}

.icon-chuangzuozhezhongxin:before {
  content: "\e61c";
}

.icon-youxiang:before {
  content: "\e908";
}

.icon-wf_Bzhan:before {
  content: "\e600";
}

